<div class="header">
  <div class="header-top">
    <div class="header-in">
      <div class="logo">
        <a href="index.html">
          <%= image_tag("logo.png")%>
        </a>
      </div>
      <div class="search">
        <form>
          <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
          <input type="submit" value="SEARCH">
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="header-top-on">
      <ul class="social-in">
        <li><a href="#"><i> </i></a></li>
        <li><a href="#"><i class="facebook"> </i></a></li>
        <li><a href="#"><i class="tin"> </i></a></li>
          
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!---->
  <div class="header-bottom">
    <div class="navigation">
      <div>
        <label class="mobile_menu" for="mobile_menu">
        <span>Menu</span>
        </label>
        <input id="mobile_menu" type="checkbox">
        <ul class="nav">
          <li><a class="color1" href="/">Home</a></li>
          <li><a href="#" class="color2">About us</a></li>
          
          <li><a href="#" class="color5">Archives</a></li>
          <li><a href="#" class="color6">Contact us</a></li>
          <% if user_signed_in? %>
            <!-- <li><%#= link_to 'Edit account', edit_user_registration_path %></li> -->
            <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
          <%else%>
            <li><%= link_to 'Sign in', new_user_session_path,:class=> "color3" %></li>
          <%end -%>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</div>