<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blogger" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blogger" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--header-->
    <div class="back">
      <%= image_tag("back.png")%>
    </div>
    <div class="container">
      <div class="main-top">
        <div class="main">
          <%= render 'layouts/frontend_nav' %>
          <%= yield %>
        </div>
        <i class="line"> </i>
        <i class="line-in"> </i>
        <i class="line-in line-in1"> </i>
        <i class="line-in line-in2"> </i>
      </div>
      <p class="footer-class">Ruby Programming Challenge 2015 </p>
      <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
  </body>
</html>