<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blogger" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blogger" %>">
    <%= stylesheet_link_tag 'backend-application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'backend-application', 'data-turbolinks-track' => true %>
    <%= tinymce_assets %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      
      <%= render 'layouts/navigation' if user_signed_in? %>

    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
