<div class="container">
  <h3>Categories Index</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
        <form method="GET" > 
          <button type="submit" class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-filter"></span> Search</button>
          <div class="pull-right">
            <input type="text"  name="q" placeholder="Search" value="<%= params['q']%>" class="form-control">
          </div>
        </form>

        <div class="pull-right">
          <%= link_to raw('<span class="glyphicon glyphicon-filter"></span> Add ') , new_backend_category_path ,:class => "btn btn-success btn-xs" %>
          <button class="btn btn-info btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr class="filters">
            <th><input type="text" class="form-control" placeholder="#" disabled></th>
            <th><input type="text" class="form-control" placeholder="name" disabled></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each_with_index do |category, index|%>
            <tr>
              <td><%= index + 1%></td>
              <td><%= category.name%></td>
              
              <td>
                <%= link_to 'Edit', edit_backend_category_path(category) ,:class => "btn btn-warning" %> 
                <%= link_to 'Delete', backend_category_path(category),  data: { confirm: 'Are you sure?' }, method: :delete ,:class => "btn btn-danger" %>
              </td>
            </tr>
          <% end unless @categories.blank?%>
        </tbody>
      </table>
    </div>
    <%= paginate @categories %>
  </div>
</div>
<%= stylesheet_link_tag 'backend/posts', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'backend/posts', 'data-turbolinks-track' => true %>
