<div class="container">
  <h3>Category New</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">New Category</h3>
        <div class="pull-right">
            
        </div>
      </div>
     <% url = action_name == 'edit' ? backend_category_path(@category) : backend_categories_path(@category)%>
      <%= semantic_form_for @category, :url => url, html: { id: :posts_form } do |f| %>
      <div class="form-group">
      <%= f.inputs do %>
          <%= f.input :name, input_html: { class: 'form-control', id: "nameCategory"} %>
          <%= f.input :id, as: :hidden%>
      <%end%>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, button_html: { class: 'btn btn-primary' }%>
        <%= f.action :cancel, :as => :link %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .form-group > fieldset > ol > li {
    list-style: none outside none;
  }
  .label {
    color: black;
  }
</style>
