<div class="number">
  <div class="feb">
    <b><%=post.created_at.to_date.day%></b>
    <label><%=post.created_at.to_date.strftime("%b")%></label>
  </div>
  <!-- </div> -->
  <h3><a href="#"><%= post.title %></a></h3>
  <%= raw post.content %>
  <!---->		
  <div class="movie">
    <ul class="comment">
      <li><span>Category : <a href="#"> <%=post.category.name%></a> </span></li>
      <li><a href="#"><i> </i>0 Comments  </a></li>
    </ul>
    <a class="more" href="#">Read More </a>
    <div class="clearfix"> </div>
  </div>
</div>

