<div class="gallery">
  <h1>New Stories</h1>
  <div id="owl-demo" class="owl-carousel ">
    <% posts.each_with_index do |post,index| %>
      <div class="item g<%=index%>" style="">
        <a href="#">
        <% html = Nokogiri::HTML.fragment(post.content) %>
        <% image_slide = html.css('img').collect(&:to_s) %>
        <%= raw image_slide[0]%>
        </a>
        <div class="caption">
          <h3 class="cinema"><a href="#"><%=post.category.name%> </a></h3>
          <p><%= truncate(strip_tags(post.content), length: 100, omission: '... read more') %></p>
        </div>
      </div>

    <% end -%>
  </div>
</div>