<div class="cd-tabs">
      <nav>
        <ul class="cd-tabs-navigation">
          <li><a href="#0" data-content="fashion" class="">fashion <i> </i></a></li>
          <li><a class="fashion1" href="#0" data-content="cinema">cinema<i> </i></a></li>
          <li><a class="fashion2 selected" href="#0" data-content="television">television<i> </i></a></li>
        </ul>
      </nav>
      <ul class="cd-tabs-content" style="height: auto;">
        <li data-content="fashion" style="" class="">
          <div class="top-men">
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp1.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing</a> </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp11.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing </a></h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp12.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing </a></h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </li>
        <li class="" data-content="cinema">
          <div class="top-men">
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing </a></h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp0.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing</a> </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp01.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing </a></h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </li>
        <li data-content="television" style="" class="selected">
          <div class="top-men">
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp2.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing </a></h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp21.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing </a></h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="men">
              <div class="grid-men">
                <a href="single.html"><img alt="" class="img-responsive" src="images/pp22.jpg"> </a>
              </div>
              <div class="men-grid">
                <h5><a href="single.html">Lorem Ipsum is simply dummy text of the printing</a> </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </li>
        <div class="clearfix"></div>
      </ul>
    </div>