<%= render :partial => "visitors/new_stories" ,:locals => {:posts => @slide_posts } %>

<div class="content">
  <div class="col-md-8 content-top">
    <% @new_posts.each do |post| %>
     <%= render :partial => "visitors/main_stories" , :locals => {:post => post} %>
    <%end%>
    <!---->
    <div class="older-top">
      <a class="older" href="#"><i> </i>older posts</a>
      <a class="older top-old" href="#"><i> </i>newer posts</a>
      <div class="clearfix"> </div>
    </div>
    <!---->
  </div>
  <!---->
  <div class="col-md-4 content-bottom">
    <div class="story">
      <h4 class="stories"><span>Top Stories</span></h4>
    </div>
    
  <%#= render :partial => "visitors/top_stories" %>

  <%#= render :partial => "visitors/tag_cloud" %>
    
    <!---->
  </div>
  <div class="clearfix"></div>
</div>