<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true %>
<div class="container">
  <div class="card card-container">
    <%= devise_error_messages! %>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form',:class => "form-signin"}) do |f| %>
        <span id="reauth-email" class="reauth-email"></span>
        <%= f.email_field :email, :autofocus => true, class: 'form-control',:placeholder => "Email address" ,:required => "required" %>
        <%= f.password_field :password, class: 'form-control',:placeholder => "Password" ,:required => "required" %>
        <% if devise_mapping.rememberable? -%>
        <div class="checkbox" id="remember">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
      <%= f.submit 'Sign in', :class => 'button right' %>
    <% end %>
    <%- if devise_mapping.recoverable? %>
      <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
    <% end -%>
  </div><!-- /card-container -->
</div><!-- /container -->
