<% posts.each_with_index do |post, index|%>
  <tr>
      <td><%= index + 1%></td>
      <td><%= post.title%></td>
      <td><%= truncate(strip_tags(post.content), length: 255, omission: '... (continued)') %></td>
      <td><%= post.try(:category).try(:name)%></td>
      <td><%=post.tag%></td>
      <td>
        <%= link_to 'Edit', edit_backend_post_path(post) ,:class => "btn btn-warning" %> 
        <%= link_to 'Show', backend_post_path(post) ,:class => "btn btn-info" %> 
        <%= link_to 'Delete', backend_post_path(post),  data: { confirm: 'Are you sure?' }, method: :delete ,:class => "btn btn-danger" %>
      </td>
  </tr>
<% end unless posts.blank?%>