<div class="container">
  <h3>Post Index</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Posts</h3>
        <form method="GET" >    
          <button type="submit" class="btn btn-warning btn-xs pull-right"><span class="glyphicon glyphicon-filter"></span> Search</button>
          <div class="pull-right">
            <input type="text"  name="q" placeholder="filters" value="<%= params['q']%>" class="form-control">
          </div>
        </form>

        <div class="pull-right">
          <!-- <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-filter"></span> Add </button> -->
          <%= link_to raw('<span class="glyphicon glyphicon-filter"></span> Add ') , new_backend_post_path ,:class => "btn btn-success btn-xs" %>
          <button class="btn btn-info btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
          
        </div>
      </div>
      <table class="table">
        <thead>
          <tr class="filters">
            <th><input type="text" class="form-control" placeholder="#" disabled></th>
            <th><input type="text" class="form-control" placeholder="title" disabled></th>
            <th><input type="text" class="form-control" placeholder="content" disabled></th>
            <th><input type="text" class="form-control" placeholder="category" disabled></th>
            <th><input type="text" class="form-control" placeholder="tag" disabled></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%=render :partial=> 'backend/posts/list' ,:locals =>{:posts => @posts} %>
        </tbody>
      </table>
    </div>
    <%= paginate @posts %>
  </div>
</div>
<%= stylesheet_link_tag 'backend/posts', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'backend/posts', 'data-turbolinks-track' => true %>
