<div class="container">
  <h3>Post New</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">New Posts</h3>
        <div class="pull-right">
            
        </div>
      </div>
     <% url = action_name == 'edit' ? backend_post_path(@post) : backend_posts_path(@post)%>
      <%= semantic_form_for @post, :url => url, html: { id: :posts_form } do |f| %>
      <div class="form-group">
      <%= f.inputs do %>
          <%= f.input :category, input_html: { class: 'form-control' } %>
          <%= f.input :title, input_html: { class: 'form-control', id: "titlePost"} %>
          <%= f.input :content, input_html: { class: 'form-control tinymce', id: 'contentPost' } %>
          <%= f.input :tag, input_html: { class: 'form-control', id: "tagPost"} %>
          <%= f.input :id, as: :hidden%>
      <%end%>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, button_html: { class: 'btn btn-primary' }%>
        <%= f.action :cancel, :as => :link %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .form-group > fieldset > ol > li {
    list-style: none outside none;
  }
  .label {
    color: black;
  }
</style>

<%= tinymce %>
