<div class="container">
  <h3>Show Post</h3>
  <hr>
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Show Posts</h3>
        <div class="pull-right">
            
        </div>
      </div>
      <h1 class="page-header">
        <%=@post.title%>

        <p class="lead">
          By <a href="#"><%= @post.try(:user).try(:email)%></a>
        </p>
        <!-- Date/Time -->
        <p class="lead-sub">
          <i class="fa fa-calendar"></i> 
          Posted on <%= @post.created_at.strftime("%B %d at %I:%M %p")%>
        </p>
      </h1>

      <p><%=raw @post.content%></p>
  </div>
</div>

